

span{
    display: flex;
    justify-content: end;
    padding-top: 10px;
    padding-right: 10px;
    // background-color: yellow;
}

#button-wrapper{
    // background-color: aqua;
    display: flex;
    justify-content: end;
}

#pagination{
    display: flex;
    justify-content: center;
}



